<div class="main">
    <div class="article">
        <form #searchForm= "ngForm" (ngSubmit)="onSubmitForm(searchForm)">
            <input [(ngModel)]="brand" type="text" id="brand" name="brand" placeholder="Marque de voiture" required>
            <input [(ngModel)]="start" type="text" id="start" name="start" placeholder="Départ" required>
            <input [(ngModel)]="finish" type="text" id="finish" name="finish" placeholder="Arrivée" required>
            <button type="submit" class="search">Rechercher</button>
        </form>
    </div>
</div>